<div class="card-cmp">
  <div *ngIf="card">
    <div class="card-details {{card.faction_code}}" 
      [class.card-legal]="card?.can_play" 
      [class.card-banned]="!card.can_play"
    > 
      <div class="row">
        <span class="card-text">{{card.text}}</span>
        <span class="card-cost" *ngIf="showCardCost && card.cost !== undefined"> 
          {{card.cost}}
        </span>
        <span class="agenda-info" *ngIf="card.advancement_cost !== undefined">
          {{card.agenda_points}}/{{card.advancement_cost}}
        </span>
      </div>


      <span class="card-img" *ngIf="false && showImage && card?.image_url">
        <img [src]="card.image_url">
      </span>

      <span class="card-detail">{{card.faction_code}}</span>

      <span class="card-detail">{{card?.pack?.cycle?.name}}</span>

      <span class="card-detail">{{card.faction_cost}}</span>

      <span class="card-detail">{{card.can_play ? "Legal" : "Banned"}}</span>
      <!-- Could add the image but that is a lot of extra size & data, probably just on click / timeout loop -->
    </div>
  </div>
</div>
