<div class="netrunner-cmp container-fluid">
  <h3> Don't Cheat on Dat </h3>
  <form class="netrunner-search" #cardSearch="ngForm">
    <span class="input-group">
      <input style="width: 80%;" class="form-control" type="text" name="searchText" 
       title="Filter out netrunner cards, figure out what the fuck is legal"
       placeholder="Search for a netrunner Cards"
       [ngModel]="searchText"
       (ngModelChange)="searchCards($event)"
      >
      <span class="error" *ngIf="errMsg">{{errMsg}}</span>
    </span>

    <label>
      <input name="searchFullText" type="radio" [value]="false"  [(ngModel)]="searchFullText">
      Title Search
    </label>
    <label>
      <input name="searchFullText" type="radio" [value]="true"  [(ngModel)]="searchFullText">
      Full Text
    </label>
  </form>

  <div>
    CORP | Factions | Types
    <div class="corp-factions">
      <button type="button" class="btn btn-xs btn-corp-faction">
        All
      </button>
      <button type="button" class="btn btn-xs btn-corp-faction" 
        [class.btn-primary]="faction.selected"
        *ngFor="let faction of corpFactions"
        (click)="toggleFaction(faction)"
      >{{ faction.name }}</button>
    </div>
    <div class="corp-types">
      <button  type="btn btn-xs btn-corp-type"
        [class.btn-primary]="type.selected"
        *ngFor="let type of corpTypes"
        (click)="toggleType(type)"
      >{{ type.name }}</button>
    </div>
  </div>

  <div>
    Runner 
    <div class="runner-factions"> 
      <button type="button" class="btn btn-xs btn-runner-type"
        [class.btn-primary]="faction.selected"
        (click)="toggleFaction(faction)"
        *ngFor="let faction of runnerFactions"
      >{{ faction.name }}</button>
    </div>
    <div class="runner-types">
      <button type="button" class="btn btn-xs btn-runner-types"
        [class.btn-primary]="type.selected"
        *ngFor="let type of runnerTypes"
        (click)="toggleType(type)"
      >{{ type.name }}</button>
    </div>
  </div>

  <div>
    Total Cards: {{allCards?.length}}
  </div>
  <div>
    <h4>Matching Count: {{matchedCards?.length}}</h4>
    <div *ngIf="matchedCards && matchedCards?.length > 0">
      <div *ngFor="let card of matchedCards">
        <card-cmp [card]="card" [showImage]="showImages"></card-cmp>
      </div>
    </div>
  </div>

  List Cards
  <div *ngFor="let c of listCards">
    {{c.title}}
  </div>


</div>
