/* You can add global styles to this file, and also import other style files */

// Assign to the different checkboxes and such
$runner: crimson;
$corp: royalblue;

// Various faction specific colors and styling elements
$adam: olive;
$anarch: orangered;
$apex: maroon; 
$criminal: royalblue;
$jinteki: crimson;
$haas-bioroid: blueviolet;
$nbn: darkorange;
$neutral-corp: darkgrey;
$neutral-runner: lightgrey;
$sunny: rebeccapurple;
$shaper: limegreen; 
$weyland-consortium: darkgreen;

.row {
  display: flex;
}

.nr-panel {
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) { 
    width: 100%;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) { 
    width: 100%;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 100%;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    flex: 49%;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    flex: 49%;
  }
}

.card-cost {
  float: right;
  border-radius: 10px;
  text-align: center;
  width: 1.5em;
  height: 1.2em;
  background-color: lightgrey;
}

.agenda-info {
  float: right;
  border-radius: 2px;
  text-align: center;
  height: 1.2em;
  padding: 0.2em;
  background-color: lighten(olive, 20%);
}

// For colored card borders (to the left)
@mixin cardBorder( $color: black ) {
  border-left: 5px solid $color;
  border-radius: 5px;
  margin: 0.5rem 0 0.5rem 0;

}

@mixin faction-cls ($color: black, $name: '') {
  .card-#{$name} { 
      @include cardBorder($color);
  }

  .bg-#{$name} {
    background-color: $color;
    border-radius: 2px;
    border: 1px solid darken($color, 20%);
  }
    
  #{$name} {
    text-color: $color;
  }
}


.nr-page {
  @include faction-cls($neutral-corp, 'neutral-corp');
  @include faction-cls($neutral-runner, 'neutral-runner');
  @include faction-cls($criminal, 'criminal');
  @include faction-cls($shaper, 'shaper');
  @include faction-cls($haas-bioroid, 'haas-bioroid');
  @include faction-cls($jinteki, 'jinteki');
  @include faction-cls($nbn, 'nbn');
  @include faction-cls($weyland-consortium, 'weyland-consortium');
  @include faction-cls($apex, 'apex');
  @include faction-cls($adam, 'adam');
  @include faction-cls($sunny, 'sunny-lebeau');
  @include faction-cls($anarch, 'anarch');
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nr-app-primary: mat-palette($mat-blue);
$nr-app-accent:  mat-palette($mat-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$nr-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$nr-app-theme: mat-light-theme($nr-app-primary, $nr-app-accent, $nr-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nr-app-theme);

