/* You can add global styles to this file, and also import other style files */
$adam: olive;
$anarch: orangered;
$apex: maroon; 
$criminal: royalblue;
$jinteki: crimson;
$haas-bioroid: blueviolet;
$nbn: darkorange;
$neutral-corp: darkgrey;
$neutral-runner: lightgrey;
$sunny: rebeccapurple;
$shaper: limegreen; 
$weyland-consortium: darkgreen;

.row {
  display: flex;
}

.nr-panel {
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) { 
    width: 100%;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) { 
    width: 100%;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 100%;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    flex: 49%;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    flex: 49%;
  }
}

.card-cost {
  float: right;
  border-radius: 10px;
  text-align: center;
  width: 1.5em;
  height: 1.2em;
  background-color: lightgrey;
}

.agenda-info {
  float: right;
  border-radius: 2px;
  text-align: center;
  height: 1.2em;
  padding: 0.2em;
  background-color: lighten(olive, 20%);
}

// For colored card borders (to the left)
@mixin cardBorder( $color: black ) {
  border-left: 5px solid $color;
  border-radius: 5px;
  margin: 0.5rem 0 0.5rem 0;
}

.card-neutral-corp {
  @include cardBorder($neutral-corp);
}

.card-neutral-runner {
  @include cardBorder($neutral-runner);
}

.card-criminal {
  @include cardBorder($criminal);
}

.card-shaper {
  @include cardBorder($shaper);
}

.card-haas-bioroid {
  @include cardBorder($haas-bioroid);
}

.card-jinteki {
  @include cardBorder($jinteki);
}

.card-nbn {
  @include cardBorder($nbn);
}

.card-weyland-consortium {
  @include cardBorder($weyland-consortium);
}

.card-apex {
  @include cardBorder($apex);
}

.card-adam {
  @include cardBorder($adam);
}

.card-sunny-lebeau {
  @include cardBorder($sunny) 
}

.card-anarch {
  @include cardBorder($anarch)
}

.search-panel {

}

.view-cards-panel {
}

